@font-face {
    font-family: 'gooddog_plainregular';
    src: url('fonts/gooddp__-webfont.eot');
    src: url('fonts/gooddp__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gooddp__-webfont.woff2') format('woff2'),
         url('fonts/gooddp__-webfont.woff') format('woff'),
         url('fonts/gooddp__-webfont.ttf') format('truetype'),
         url('fonts/gooddp__-webfont.svg#gooddog_plainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  h1 {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-style:normal;
}
/*im about to fucking explode*/
