@font-face {
    font-family: 'gooddog_plainregular';
    src: url('../../CutTheRopeEditor/fonts/gooddp__-webfont.woff2') format('woff2'),
         url('../../CutTheRopeEditor/fonts/gooddp__-webfont.woff') format('woff'),
         url('../../CutTheRopeEditor/fonts/gooddp__-webfont.ttf') format('truetype'),
         url('../../CutTheRopeEditor/fonts/gooddp__-webfont.svg#gooddog_plainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  h1 {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-size: 40px;
font-style:normal;
color:white;
}
 h2 {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-style:normal;
font-size: 35px;
color:white;
}
 h3 {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-style:normal;
font-size: 30px;
color:white;
}
 h4 {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-style:normal;
font-size: 25px;
color:white;
}
 p {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-style:normal;
font-size: 25px;
color:white;
}
 a {
font-family: gooddog_plainregular, sans-serif;
font-weight:normal;
font-style:normal;
color: #8cfffb;
}
